<phpunit bootstrap="./tests/bootstrap.php" stderr="true" beStrictAboutTestsThatDoNotTestAnything="true">
	<testsuites>
		<testsuite name="All tests">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
